
# /* == Rewrites */

	# engine
	rewriteEngine on

	# force SSL
	#RewriteCond %{HTTPS} off
	#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,QSA]
	
	# www
	#
	# Note: when force SSL is turned on, change http:// to https:// in the following lines
	#
	RewriteCond %{HTTP_HOST} !^www.
	RewriteRule (.*) http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L,QSA]
	
	# CSS minifier
	RewriteRule (.+)\.css$ /system/com/compressCSS.php?file=$1.css [L,QSA]
	
	# JS minifier (excluding libaries)
	RewriteCond %{REQUEST_URI} !^(.+)/lib/(.+)\.js$
	RewriteRule (.+)\.js$ /system/com/compressJS.php?file=$1.js [L,QSA]
	
	# thumbs
	RewriteCond %{QUERY_STRING} thumb
	RewriteRule ^(.+?)\.(png|jpg|jpeg|gif|bmp)$ /system/com/thumb.php?src=$1.$2 [L,QSA,NC]
	
	# force download
	RewriteCond %{QUERY_STRING} download
	RewriteRule ^(.+?)\.(png|jpg|jpeg|gif|bmp)$ /system/com/download.php?src=$1.$2 [L,QSA,NC]
	
	# image cache
	RewriteRule (.+)\.(png|jpg|jpeg|gif|bmp)$ /system/com/imagecache.php?file=$1&ext=$2 [L,QSA]
	
	# favicon
	RewriteRule ^favicon\.ico$ /system/com/imagecache.php?file=application/resources/image/favicon&ext=ico [L]
	RewriteRule ^appicon\.ico$ /system/com/imagecache.php?file=application/resources/image/appicon&ext=png [L]
	
	# com
	RewriteRule ^com/([^./]+)\.json$ /index.php?ys_mode=com&ys_route=$1 [QSA]
	RewriteRule ^com/([^./]+)/([^./]+)\.json$ /index.php?ys_mode=com&ys_route=$1/$2 [QSA]

	# Dont rewrite external .html-files, these can be used as documentation.
	RewriteCond %{REQUEST_URI} ^/system/external/(.+?)\.html
	RewriteRule .* - [S=8]
	
	# Apache + IIS(/?) will accept this line of code.
	RewriteRule ^/?(.+).html$ /index.php?ys_route=$1 [QSA]
	
	# Other possibility
	#
	# We recommend to rewrite urls like /a/b.html but the following lines add support for urls like /a/b or /a/b/.
	# TIP: Be consequent. Do not mix methods up.
	#
	#RewriteRule ^/?(.+)/?$ /index.php?ys_route=$1 [QSA]
	
# /* == File restriction */

	RewriteCond %{REQUEST_URI} ^/application/(.*?)$
	RewriteCond %{REQUEST_URI} !^/application/com/(.*?)$
	RewriteCond %{REQUEST_URI} !^/application/resources/(.*?)$
	RewriteRule ^/?(.*?)$ /index.php?ys_route=error/403 [QSA]
	 
	RewriteCond %{REQUEST_URI} ^/application/com/(cronjob|cli)(.*?)$
	RewriteRule ^/?(.*?)$ /index.php?ys_route=error/403 [QSA]
	
	RewriteCond %{REQUEST_URI} ^/system/(.*?)$
	RewriteCond %{REQUEST_URI} !^/system/com/(.*?)$
	RewriteCond %{REQUEST_URI} !^/system/external/(.*?)$
	RewriteRule ^/?(.*?)$ /index.php?ys_route=error/403 [QSA]
	
	RewriteCond %{REQUEST_URI} ^/cache/(.*?)$
	RewriteRule ^/?(.*?)$ /index.php?ys_route=error/403 [QSA]
	
	RewriteCond %{REQUEST_URI} ^/cli.php(.*?)$
	RewriteRule ^/?(.*?)$ /index.php?ys_route=error/403 [QSA]
